
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
   
      <mat-nav-list class="side-list">
          <mat-toolbar>Menu</mat-toolbar>
          <hr color="gray">
          <a mat-list-item routerLink='/home/inicio' class="text">
              <mat-icon aria-hidden="false">home</mat-icon>
              Home
          </a>
          <hr color="gray">
          <div *ngIf="this.roles[0].conserje">
              <a mat-list-item routerLink='/home/bitacora' class="text">
                  <mat-icon aria-hidden="false">hail</mat-icon>
                  Bitácora
              </a>
              <hr color="gray">
          </div>
          <a mat-list-item routerLink='/home/visitas' class="text">
              <mat-icon aria-hidden="false">hail</mat-icon>
              Visitas
          </a>
          <hr color="gray">
          <a mat-list-item routerLink='/home/encomiendas' class="text">
              <mat-icon aria-hidden="false">shopping_bag</mat-icon>
              Encomiendas
          </a>
          <hr color="gray">
          <a mat-list-item routerLink='/home/reservas' class="text">
              <mat-icon aria-hidden="false">event</mat-icon>
              Reservas Área Común
          </a>
          <hr color="gray">
          <a mat-list-item routerLink='/home/gastos-comunes' class="text">
              <mat-icon aria-hidden="false">paid</mat-icon>
              Gastos Comunes
          </a>
          <hr color="gray">
          <a mat-list-item routerLink='/home/mantenciones' class="text">
              <mat-icon aria-hidden="false">build</mat-icon>
              Mantenciones
          </a>
          <div *ngIf="this.roles[0].conserje">
          <hr color="gray">
            <a mat-list-item routerLink='/home/insumos' class="text">
              <mat-icon aria-hidden="false">inventory_2</mat-icon>
              Insumos
          </a>
          </div>
          <hr color="gray">
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>proyecto-comunidad</span>
      <div class="right">
        <button mat-fab color="warn" routerLink='/login' aria-label="Example icon button with a home icon">
          <mat-icon >logout</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

