.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.side-list{
  background-color: rgb(240, 171, 69);
  height: 95%;
  width: 100%;
}
.toolbar{
  height: 80px;
}