<<<<<<< HEAD
table {
    width: 100%;
}

.mat-form-field {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 14px;
    width: 30%;
}

.mat-calendar {
    width: 100%;
    height: 100%;
}
=======
.color{
    background-color: rgb(240, 171, 69);
  }
>>>>>>> parent of 2201d47 (Add files via upload)
