table { 
  width: 100%; 
} 

.mat-form-field { 
  padding-left: 10px; 
  padding-right: 10px; 
  padding-top: 10px; 
  padding-bottom: 0px; 
  font-size: 14px; 
  width: 70%;
}

.fecha-reservada {
    background-color: red;
    border-radius: 100%;
    pointer-events: none;
}

.form-container{
    display: flex;
}

.form-block{
    width: 40%;
}